$color-gray: rgba(158, 152, 179, 0.4);
$color-purple: rgb(107, 76, 230);
$color-purple-dark: rgb(89, 4, 168);
$color-white: #fff;
$color-black: #000;

// // FONT
// $default-font-size: 1.6rem;

// // GRID
// $grid-width: 114rem;
// $gutter-vertical: 8rem;
// $gutter-horizontal: 6rem;
