$color-gray: rgba(158, 152, 179, 0.4);
$color-purple: rgb(107, 76, 230);
$color-purple-dark: rgb(89, 4, 168);
$color-white: rgb(250, 249, 246);
$color-black: #000;
$color-blue-light: #1e88e5;
$color-blue: #1976d2;
$color-blue-dark: #1565c0;
$color-red: red;

// // FONT
// $default-font-size: 1.6rem;

// // GRID
// $grid-width: 114rem;
// $gutter-vertical: 8rem;
// $gutter-horizontal: 6rem;
