.Header {
  width: 100vw;
  display: grid;
  grid-template-columns: 0.8fr 2.8fr 0.6fr 0.2fr;
  font-family: "Poppins", sans-serif;
  background-color: $color-white;
  height: 6rem;
  align-items: center;
  padding-right: 12rem;
  padding-left: 8rem;

  &--heading {
    font-size: 3rem;
    font-weight: 700;
    margin: auto;
    cursor: default;
  }
  &__searchCont {
    margin: auto;
    &--icon {
      position: relative;
      left: 4rem;
      top: 0.8rem;
      transform: scale(1.1);
      justify-content: center;
      opacity: 0.5;
    }
    &--input {
      height: 4rem;
      font-size: 1.6rem;
      background-color: $color-gray;
      border-radius: 4rem;
      border: none;
      width: 70rem;
      text-align: center;
      &:focus {
        outline: none;
      }
    }
  }
}
.Header__profileCont {
  margin: auto;
  &--image {
    height: 4.5rem;
    border-radius: 50rem;
  }
}
