.Feed {
  width: 94%;
  margin: 3rem auto;
  background-color: $color-white;
  border-radius: 1.5rem;
  position: relative;
  &__profile {
    display: grid;
    font-size: 3rem;
    grid-template-columns: 1.5fr 10fr 1fr;
    align-items: center;
    &--image {
      margin: auto;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      margin-top: 0.5rem;
      height: 4rem;
      border-radius: 50rem;
    }
    &--name {
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      font-size: 2rem;
      & :nth-child(2) {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 1rem;
      }
    }
  }
  &__time {
    opacity: 0.7;
    padding-left: 2rem;
    font-size: 1.4rem !important;
    position: relative;
    bottom: 0.3rem;
  }
  &__postimage {
    /* height: 10rem; */
    width: 38vw;
    border-radius: 1.5rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 0.5rem;
  }
  &__reaction {
    font-size: 3.5rem;
    display: flex;
    position: relative;
    justify-content: space-between;
    margin: 1rem 2rem;
  }
  &__icon:hover {
    cursor: pointer;
  }
  &__footer {
    &--likes,
    &--caption {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 1.8rem;
      line-height: 3rem;
      margin-left: 3rem;
      position: relative;
      top: -1rem;
    }
  }
}
.CommentSection {
  position: absolute;
  top: 100%;
  left: 0;
  height: 0%;
  width: 100%;
  background-color: rgb(243, 243, 243);
  z-index: 2;
  border-radius: 1.5rem;
  visibility: hidden;
  transition: all 0.5s ease;
}
