@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Rubik+Distressed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Rubik:ital,wght@0,500;0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@400;500;600;700&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  overflow-X: hidden;
  box-sizing: border-box;
  background-color: rgba(158, 152, 179, 0.4); }

@media screen and (max-width: 1399px) {
  html {
    font-size: 46%; } }

@media screen and (max-width: 1023px) {
  html {
    font-size: 30%; } }

.Button--purple {
  position: relative;
  height: 4rem;
  width: 10rem;
  border-radius: 10rem;
  background-color: #6b4ce6;
  color: #faf9f6;
  margin: auto;
  border: none;
  font-weight: 700;
  font-size: 1.5rem;
  z-index: 1; }
  .Button--purple:hover {
    cursor: pointer; }
    .Button--purple:hover::after {
      transform: scaleY(1.3) scaleX(1.3);
      opacity: 0; }
  .Button--purple::after {
    content: "";
    display: inline-block;
    background-color: #6b4ce6;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s; }
  .Button--purple:active {
    transform: scale(0.95); }

.Button--blue {
  display: block;
  margin: 10px auto;
  height: 4rem;
  width: 40rem;
  font-size: 1.8rem;
  color: white;
  background-color: #1e88e5;
  border-radius: 10px;
  border: none;
  font-weight: 700; }
  .Button--blue:active {
    background-color: #1976d2; }
  .Button--blue:hover {
    cursor: pointer; }

.Input__container {
  width: 80%;
  margin: auto;
  height: 53vh; }

.Input__pair {
  position: relative;
  width: 40rem;
  margin: auto; }
  .Input__pair--label {
    margin: 6px 0;
    font-size: 2rem;
    width: 40rem;
    position: absolute;
    top: 1.5rem;
    left: 1rem;
    opacity: 0.6;
    pointer-events: none;
    transition: 0.3s ease; }
  .Input__pair--input {
    margin: 6px 0;
    border: 0.5px solid rgba(0, 0, 0, 0.178);
    border-radius: 5px;
    height: 6rem;
    width: 40rem;
    font-size: 1.8rem;
    padding-top: 1.8rem;
    padding-left: 1rem;
    transition: all 0.3s ease;
    transition-delay: caret-color 0.3s;
    caret-color: transparent;
    color: rgba(0, 0, 0, 0.801); }
    .Input__pair--input:focus {
      outline: none; }

.IncorrectMsg {
  color: red;
  text-align: center;
  font-size: 1.4rem; }

.loading__container {
  height: 100vh;
  width: 100vw;
  background-color: #fff; }
  .loading__container--img {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.Header {
  width: 100vw;
  display: grid;
  grid-template-columns: 0.8fr 2.8fr 0.6fr 0.2fr;
  font-family: "Poppins", sans-serif;
  background-color: #faf9f6;
  height: 6rem;
  align-items: center;
  padding-right: 12rem;
  padding-left: 8rem; }
  .Header--heading {
    font-size: 3rem;
    font-weight: 700;
    margin: auto;
    cursor: default; }
  .Header__searchCont {
    margin: auto; }
    .Header__searchCont--icon {
      position: relative;
      left: 4rem;
      top: 0.8rem;
      transform: scale(1.1);
      justify-content: center;
      opacity: 0.5; }
    .Header__searchCont--input {
      height: 4rem;
      font-size: 1.6rem;
      background-color: rgba(158, 152, 179, 0.4);
      border-radius: 4rem;
      border: none;
      width: 70rem;
      text-align: center; }
      .Header__searchCont--input:focus {
        outline: none; }

.Header__profileCont {
  margin: auto; }
  .Header__profileCont--image {
    height: 4.5rem;
    border-radius: 50rem; }

.NavBar {
  height: 91vh;
  font-size: 1.8rem;
  grid-template-rows: 1fr 10fr;
  display: grid;
  width: 16vw; }
  .NavBar__profileCont {
    background-color: #faf9f6;
    border-radius: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 9rem;
    margin-bottom: 1rem; }
    .NavBar__profileCont--image {
      margin: auto 1rem;
      height: 4.5rem;
      border-radius: 50rem; }
    .NavBar__profileCont--name {
      margin: auto 1rem; }
      .NavBar__profileCont--name :nth-child(1) {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 2rem; }
      .NavBar__profileCont--name :nth-child(2) {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-size: 1.3rem;
        opacity: 0.8; }
  .NavBar__nav {
    background-color: #faf9f6;
    margin: 0.5rem 0;
    border-radius: 1.5rem;
    padding-top: 5px; }
    .NavBar__nav--tabs {
      display: grid;
      grid-template-columns: 1fr 2fr;
      padding: 1rem 0;
      font-size: 2rem;
      font-weight: 600;
      height: 5rem; }
      .NavBar__nav--tabs:hover {
        background-color: rgba(158, 152, 179, 0.4);
        cursor: pointer;
        color: #5904a8;
        border-left: #5904a8 0.5rem solid; }
      .NavBar__nav--tabs :nth-child(2) {
        margin: 0 1rem;
        text-align: start; }
      .NavBar__nav--tabs :nth-child(1) {
        transform: scale(1.1);
        margin: 0 1rem;
        text-align: end;
        opacity: 0.8; }

.activeTab {
  background-color: rgba(158, 152, 179, 0.4);
  cursor: pointer;
  color: #5904a8;
  border-left: #5904a8 0.5rem solid; }

.HomeFact__container {
  width: 19vw;
  background-color: #faf9f6;
  height: 91vh;
  border-radius: 1.5rem; }

.Feed {
  width: 94%;
  margin: 3rem auto;
  background-color: #faf9f6;
  border-radius: 1.5rem;
  position: relative; }
  .Feed__profile {
    display: grid;
    font-size: 3rem;
    grid-template-columns: 1.5fr 10fr 1fr;
    align-items: center; }
    .Feed__profile--image {
      margin: auto;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      margin-top: 0.5rem;
      height: 4rem;
      border-radius: 50rem; }
    .Feed__profile--name {
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      font-size: 2rem; }
      .Feed__profile--name :nth-child(2) {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 1rem; }
  .Feed__time {
    opacity: 0.7;
    padding-left: 2rem;
    font-size: 1.4rem !important;
    position: relative;
    bottom: 0.3rem; }
  .Feed__postimage {
    /* height: 10rem; */
    width: 38vw;
    border-radius: 1.5rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 0.5rem; }
  .Feed__reaction {
    font-size: 3.5rem;
    display: flex;
    position: relative;
    justify-content: space-between;
    margin: 1rem 2rem; }
  .Feed__icon:hover {
    cursor: pointer; }
  .Feed__footer--likes, .Feed__footer--caption {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 3rem;
    margin-left: 3rem;
    position: relative;
    top: -1rem; }

.CommentSection {
  position: absolute;
  top: 100%;
  left: 0;
  height: 0%;
  width: 100%;
  background-color: #f3f3f3;
  z-index: 2;
  border-radius: 1.5rem;
  visibility: hidden;
  transition: all 0.5s ease; }

.Stories {
  display: flex;
  width: 41vw;
  margin: auto;
  overflow: scroll; }
  .Stories::-webkit-scrollbar {
    display: none; }
  .Stories > div {
    padding: 0 0.5rem;
    position: relative; }
  .Stories > div :hover {
    cursor: pointer; }
  .Stories__story {
    height: 15rem;
    width: 7.8rem;
    overflow: hidden;
    border-radius: 2rem; }
    .Stories__story--Image {
      height: 15rem;
      transform: translateX(-25%); }
  .Stories__profile {
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    position: absolute; }
    .Stories__profile--image {
      height: 4.5rem;
      border-radius: 50rem;
      border: #faf9f6 0.23rem dotted; }

.HomePage__Container {
  width: 100vw; }

.HomePage__Container--content {
  margin: auto;
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-top: 2rem; }

.HomePage__midCont {
  margin: -1rem 2rem; }

.login {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #faf9f6;
  display: grid;
  grid-template-columns: 60vw 40vw;
  overflow-y: hidden;
  overflow-x: hidden; }
  .login__image {
    z-index: 2; }
    .login__image > img {
      transform: translateY(-25%);
      width: 100%;
      mask-image: linear-gradient(to right, black 65%, transparent); }
  .login__divider {
    width: 40vw;
    display: grid;
    grid-template-columns: 40vw 40vw 40vw;
    position: relative;
    z-index: 1;
    right: 40vw;
    transition: 0.5s ease; }
  .login__container {
    font-family: "Poppins", sans-serif;
    height: 95%;
    width: 40vw;
    position: relative;
    top: 12rem;
    transition: 0.5s ease; }
    .login__container--heading {
      font-family: "Pacifico", cursive;
      font-size: 6rem;
      margin: 10px auto;
      width: 14rem; }
    .login__container--signup {
      width: 80%;
      margin: 1.5rem auto;
      height: 10vh; }
      .login__container--signupText {
        margin: 0 auto !important;
        align-items: center;
        height: 100%;
        top: 50%;
        position: relative;
        transform: translateY(-25%); }
    .login__container--text {
      font-size: 1.8rem;
      font-weight: 400;
      opacity: 0.7;
      width: 40rem;
      text-align: center;
      margin: 15px auto; }
      .login__container--text > a {
        color: #1565c0;
        font-weight: 500;
        opacity: 1; }
        .login__container--text > a:hover {
          cursor: pointer; }

.forgetPass:hover {
  cursor: pointer; }

.signUp__container {
  font-family: "Poppins", sans-serif;
  height: 95%;
  width: 40vw;
  position: relative;
  top: 4rem;
  opacity: 1; }

.forgot__container {
  font-family: "Poppins", sans-serif;
  height: 95%;
  width: 40vw;
  position: relative;
  top: 4rem;
  opacity: 0;
  transition: .5s ease; }
