.Button--purple {
  position: relative;
  height: 4rem;
  width: 10rem;
  border-radius: 10rem;
  background-color: $color-purple;
  color: $color-white;
  margin: auto;
  border: none;
  font-weight: 700;
  font-size: 1.5rem;
  z-index: 1;

  &:hover {
    cursor: pointer;
    &::after {
      transform: scaleY(1.3) scaleX(1.3);
      opacity: 0;
    }
  }
  &::after {
    content: "";
    display: inline-block;
    background-color: $color-purple;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }
  &:active {
    transform: scale(0.95);
  }
}
