.HomeFeed__container {
  width: 94%;
  margin: 3rem auto;
  background-color: white;
  border-radius: 1.5rem;
}
.HomeFeed__headingCont {
  display: grid;
  font-size: 3rem;
  grid-template-columns: 1.5fr 10fr 1fr;
  align-items: center;
}
.HomeFeed__container--profile {
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 0.5rem;
}
.HomeFeed__container--profile--image {
  height: 4rem;
  border-radius: 50rem;
}
.HomeFeed__container--profilename {
  /* font-size: 24px; */
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}
.HomeFeed__container--profilename :nth-child(2) {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1rem;
}
.HomeFeed__time {
  opacity: 0.7;
  padding-left: 2rem;
  font-size: 1.4rem !important;
  position: relative;
  bottom: 0.3rem;
}
.HomeFeed__container--image {
  /* height: 10rem; */
  width: 38vw;
  border-radius: 1.5rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 0.5rem;
}
.HomeFeed__container--options {
  font-size: 3.5rem;
  display: flex;
  position: relative;
  justify-content: space-between;
  margin: 1rem 2rem;
}
.HomeFeed__container--options > div :nth-child(1),
.HomeFeed__container--options > div :nth-child(2),
.HomeFeed__container--options > div :nth-child(3) {
  width: 5rem;
}
.HomeFeed__likes,
.HomeFeed__caption {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 3rem;
  margin-left: 3rem;
  position: relative;
  top: -1rem;
}
.HomeFeed__icon:hover {
  cursor: pointer;
}
